body {
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}
main {
  align-self: center;
  display: grid;
  text-align: center;
  justify-content: center;
  width: 30em;
  border-style: dotted;
  border-color: black;
  background-color: white;
  padding: 10em;
}

.play_expl,
.play_started {
  align-self: center;
}

button {
  border-style: dotted;
  border-color: black;
  background-color: beige;
  padding: 1em;
  margin-top: 1em;
}
button:hover {
  background-color: white;
}

.hide {
  display: none;
}
